LEGERCRM_PORT=
LEGERCRM_DATABASE_URL=
LEGERCRM_JWT_SECRET=
LEGERCRM_NODE_ENV=
LEGERCRM_SMTP_HOST=
LEGERCRM_SMTP_PORT=
LEGERCRM_SMTP_SECURE=
LEGERCRM_SMTP_USER=
LEGERCRM_SMTP_PASS=
LEGERCRM_SMTP_FROM_NAME=
LEGERCRM_EMAIL_FROM_ADDRESS=
LEGERCRM_ARKESEL_API_KEY=
LEGERCRM_ARKESEL_SENDER_ID=
LEGERCRM_ARKESEL_BASE_URL=
LEGERCRM_SMS_ENABLED=
LEGERCRM_SMS_SANDBOX=
LEGERCRM_SMS_DEFAULT_COUNTRY_CODE=
LEGERCRM_SMS_CALLBACK_URL=
LEGERCRM_SMS_WEBHOOK_SECRET=
